<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载properties文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>


    <!--加载数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="user" value="${jdbc.username}"/>
    </bean>

    <!--配置JdbcTemplate对象-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置StuService-->
    <bean id="stuService" class="com.dbcd.service.impl.StuServiceImpl">
        <property name="stuDao" ref="stuDao"/>
    </bean>

    <!--配置StuDao-->
    <bean id="stuDao" class="com.dbcd.dao.impl.StuDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <!--配置EnterpDao-->
    <bean id="enterpDao" class="com.dbcd.dao.impl.EnterpDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <!--配置EnterpService-->
    <bean id="enterpService" class="com.dbcd.service.impl.EnterpServiceImpl">
        <property name="enterpDao" ref="enterpDao"/>
    </bean>


    <!--配置RecruitDao-->
    <bean id="RecruitDao" class="com.dbcd.dao.impl.RecruitDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="RecruitService" class="com.dbcd.service.impl.RecruitServiceImpl">
        <property name="recruitDao" ref="RecruitDao"/>
    </bean>

</beans>