<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addEnterp</title>
    <link rel="stylesheet" type="text/css" href="css/add.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
</head>

<body>
    <div class="top">
        <img src="img/toplogo.png" alt="">

    </div>
    <div id="add">
        <div class="imfo">
            <input type="text" v-model='EnterpId' placeholder="企业ID">
            <input type="text" v-model='EnterpName' placeholder="企业名称">
            <input type="text" v-model='EnterpAddress' placeholder="企业地址">
            <input type="text" v-model='EnterpIndustry' placeholder="企业领域">
            <input type="text" v-model='EnterpIntroduction' placeholder="企业介绍">
            <button class="sub" @click='addEnterp()'>添加</button>
        </div>
    </div>

    <div id="nav">
        <div class="sideCon">
            <dl class="imgdlDl">
                <img src="img/logo.png" alt="">
            </dl>
            <div class="nav-content">
                <ul>
                    <li @click="goImfor()">学生信息</li>
                    <li @click="goRecruit()">招聘信息</li>
                    <li @click="goEnterp">企业信息</li>
                    <li @click="goAdd()">添加学生信息</li>
                    <li @click='goAddrecruit()'>添加招聘信息</li>
                    <li class="current" >添加企业信息</li>
                </ul>
            </div>

        </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/addEnterp.js"></script>
    <script src="js/nav.js"></script>
</body>

</html>