<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
    <link rel="stylesheet" type="text/css" href="css/add.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
</head>

<body>
    <div class="top">
        <img src="img/toplogo.png" alt="">

    </div>
    <div id="add">
        <div class="imfo">
            <input type="text" v-model='enterpId' placeholder="企业id">
            <input type="text" v-model='recruitId' placeholder="招聘id">
            <input type="text" v-model='endTime' placeholder="截止时间">
            <input type="text" v-model='title' placeholder="标题">
            <input type="text" v-model='content' placeholder="内容">
            <button class="sub" @click='add()'>添加</button>
        </div>
    </div>

    <div id="nav">
        <div class="sideCon">
            <dl class="imgdlDl">
                <img src="img/logo.png" alt="">
            </dl>
            <div class="nav-content">
                <ul>
                    <li @click="goImfor()">学生信息</li>
                    <li @click="goRecruit()">招聘信息</li>
                    <li @click='goAdd()'>添加学生信息</li>
                    <li class="current">添加招聘信息</li>
                </ul>
            </div>

        </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/addRec.js"></script>
    <script src="js/nav.js"></script>
</body>

</html>