<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enterp</title>
    <link rel="stylesheet" type="text/css" href="css/stuImfor.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/add.css">
</head>

<body>
    <div id="top">
        <img src="img/toplogo.png" alt="">
        <img src="img/下拉框.png" alt="" class="ddbox" @click="change(1)">
        <div class="option" v-show="flag" @mouseleave="change(0)" @click="esc()">
          <div class="exit">
              <span><img src="img/exit.png" alt=""></span>
              <div class="exitl">退出登陆</div>
          </div>
        </div>
    </div>
    <div id="stu">
        <div id="cover">
            <form method="get" action="">
                <div class="tb">
                    <div class="td"><input type="text" placeholder="学号或者名字" required v-model="searchIm"></div>
                    <div class="td" id="s-cover">
                        <button @click.prevent="search()">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="stuImfor">
            <table>
                <tr>
                    <td>企业ID</td>
                    <td>企业名称</td>
                    <td>企业地址</td>
                    <td>企业领域</td>
                    <td>企业介绍</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr v-for="(item,index) in entImfor">
                    <td>{{item.enterpId}}</td>
                    <td>{{item.enterpName}}</td>
                    <td>{{item.enterpAddress}}</td>
                    <td>{{item.enterpIndustry}}</td>
                    <td>{{item.enterpIntroduction}}</td>
                    <td><button @click="del(index)">删除</button></td>
                    <td><button @click="goUpdate(index)">修改</button></td>
                </tr>
            </table>
        </div>
        <div id="add" v-if="flag" style="margin-left: -701px;margin-top: -111px;">
            <button class="close" @click='close'>x</button>
            <div class="imfo">
                <input class='id' type="text" v-model='enterpId' placeholder="企业ID" disabled="disabled">
                <input type="text" v-model='enterpName' placeholder="企业名称">
                <input type="text" v-model='enterpAddress' placeholder="企业地址">
                <input type="text" v-model='enterpIndustry' placeholder="企业领域">
                <input type="text" v-model='enterpIntroduction' placeholder="企业介绍">
                <button class="sub" @click='update()'>修改</button>
            </div>
        </div>
    </div>

    <div id="nav">
        <div class="sideCon">
            <dl class="imgdlDl">
                <img src="img/logo.png" alt="">
            </dl>
            <div class="nav-content">
                <ul>
                    <li @click="goImfor()">学生信息</li>
                    <li @click="goRecruit()">招聘信息</li>
                    <li class="current">企业信息</li>
                    <li @click="goAdd()">添加学生信息</li>
                    <li @click='goAddrecruit()'>添加招聘信息</li>
                    <li @click="goAddenterp()">添加企业信息</li>
                </ul>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/nav.js"></script>
    <script src='js/enterp.js'></script>
    <script src="js/top.js"></script>
</body>

</html>