<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stuimfor</title>
    <link rel="stylesheet" type="text/css" href="css/stuImfor.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/add.css">
</head>

<body>
    <div class="top">
        <img src="img/toplogo.png" alt="">
    </div>
    <div id="rec">
        <div id="cover">
            <form method="get" action="">
                <div class="tb">
                    <div class="td"><input type="text" placeholder="学号或者名字" required v-model="searchIm"></div>
                    <div class="td" id="s-cover">
                        <button @click.prevent="search()">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="stuImfor">
            <table>
                <tr>
                    <td>企业ID</td>
                    <td>招聘ID</td>
                    <td>截止时间</td>
                    <td>标题</td>
                    <td>内容</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <!-- <div id="add" v-if="flag">
            <button class="close" @click='close'>x</button>
            <div class="imfo">
                <input class = 'id' type="text" v-model='studentId' placeholder="学号" disabled="disabled">
                <input type="text" v-model='studentName' placeholder="姓名">
                <input type="text" v-model='studentGender' placeholder="性别">
                <input type="text" v-model='studentBrith' placeholder="出生日期">
                <input type="text" v-model='studentSdept' placeholder="系别">
                <input type="text" v-model='studentAddress' placeholder="地址">
                <input type="text" v-model='studentPhone' placeholder="电话">
                <button class="sub" @click='update()'>修改</button>
            </div>
        </div> -->
    </div>

    <div id="nav">
        <div class="sideCon">
            <dl class="imgdlDl">
                <img src="img/logo.png" alt="">
            </dl>
            <div class="nav-content">
                <ul>
                    <li @click="goImfor()">学生信息</li>
                    <li class="current">招聘信息</li>
                    <li @click="goAdd()">添加学生信息</li>
                    <li @click="goAddrecruit()">添加招聘信息</li>
                </ul>
            </div>

        </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/nav.js"></script>
    <script src='js/recruit.js'></script>
</body>

</html>